
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">

    <h2>MVC NƏDİR ?</h2>
    The Model is the part of the application that handles the logic for the application data.
    Often model objects retrieve data (and store data) from a database.

    The View is the parts of the application that handles the display of the data.
    Most often the views are created from the model data.

    The Controller is the part of the application that handles user interaction.
    Typically controllers read data from a view, control user input, and send input data to the model.

    The MVC separation helps you manage complex applications, because you can focus on one aspect a time. For example, you can focus on the view without depending on the business logic. It also makes it easier to test an application.

    The MVC separation also simplifies group development. Different developers can work on the view, the controller logic, and the business logic in parallel.
</div>
<div class="row centered">
    <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Handsomely Crafted</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br /><a href="#" class="btn btn-default">More Info</a></p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Retina Ready</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br /><a href="#" class="btn btn-danger">More Info</a></p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Quality Theme</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br /><a href="#" class="btn btn-warning">More Info</a></p>
    </div>
</div>
